/*Shop*/
body {
	background: url(../images/white.jpg);
	background-size: 100% 100%;
}

#one, #two, #three, #four {
	border-radius: 80px;
	border: 2px solid black;
	margin: 20px;
}

.col-md-4 {
	background: black;
	color: grey;
	margin-top: 30px;
	border-radius: 30px;
}

/*Shopping Rules*/
.col-md-7 {
	background: black;
	color: grey;
	margin-top: 30px;
	padding: 10px;
	border-radius: 30px;
}

.col-md-5 {
	padding: 40px;
}

/*Celine Dion*/
h5 {
	background: black;
	padding: 10px;
	margin: 40px 100px;
	color: grey;
	border-radius: 100px;
	text-align: center;
}


