/*Shop*/
body {
	background: url(../images/white.jpg);
	background-size: 100% 100%;
}

h1 {
	background: white;
	color: grey;
	text-align: center;
}

#image {
	border-radius: 80px;
	border: 2px solid black;
	margin: 20px;
}

.col-md-4 {
	background: black;
	color: grey;
	margin-top: 30px;
	border-radius: 60px;
}

/*Shopping Rules*/
.col-md-7 {
	background: black;
	color: grey;
	margin-top: 30px;
	padding: 10px;
	border-radius: 30px;
}

/*Celine Dion*/
p {
	background: white;
	color: grey;
	padding: 50px;
	margin: 50px;
	text-align: center;
	border-radius: 100px;
}

h5 {
	background: black;
	padding: 10px;
	margin: 40px 100px;
	color: grey;
	border-radius: 100px;
	text-align: center;
}


